{% extends "base.html" %}

{% block title %} Catch Pokemon {% endblock %}

{% block body %}
<h1>You Gotta Catch'em All!</h1>
<div>
    <h2> Return Home <b/> <button><a href="home">Home</a></button> </h2>
    <h2> Throw a Pokeball <b/> <button><a href="catchit">Throw</a></button> </h2>
    <div>
        <div>
            <table>
            <tr>
                {% for header in headings_2 %}
                <th>{{header}}</th>
                {% endfor %}
            </tr>

            {% for ball in table_2%}
            <tr>
            <td>{{ball.id}}</td> <td>{{ball.pokeball_id}}</td> <td>{{ball.nickname}}</td> <td><button><a href="/update/{{ ball.id }}">Update Nickname</a></button></td><td><button><a href="/delete/{{ ball.id }}">Delete</a></button></td>
             </tr>
            {% endfor %}
        </table>


        </div>

    </div>

</div>

{% endblock %}