{% extends "base.html" %}

{% block title %} Poke Database {% endblock %}

{% block body %}
<h1>Welcome to the Pokedex Database</h1>
<div>
    <div>
        <div>
        <table>
            <tr>
                <th>ID</th>
                <th>Poke_ID</th>
                <th>Name</th>
                <th>Poketype</th>
            </tr>
            <tr>
                <td>01</td>
                <td>Bulba</td>
                <td>Grass</td>
            </tr>
        </table>

        </div>

    </div>

</div>

{% endblock %}