{% extends "base.html" %}

{% block title %} Poke Database {% endblock %}

{% block body %}
<h1>Welcome to the Pokedex Database</h1>
<div>
    <h2> Return Home <b/> <button><a href="home">Home</a></button> </h2>
    <h2><b> Add Pokemon <b/> <button><a href="insert">Click here</a></button> </h2>
    <div>
        <table>
            <tr>
                <th>ID</th>
                <th>Poke_ID</th>
                <th>Name</th>
                <th>Poketype</th>
            </tr>
            <tr>
                <td>01</td>
                <td>01</td>
                <td>Bulba</td>
                <td>Grass</td>
            </tr>
        </table>

    </div>
</div>

{% endblock %}